@keyframes fadeBackground {
  0% {
    background-color: #557992;
  }
  25% {
    background-color: #8c5592;
  }
  50% {
    background-color: #925555;
  }
  75% {
    background-color: #749255;
  }
  100% {
    background-color: #557992;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  width: 100%;
  height: 20em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #557992;
  animation: fadeBackground 25s linear infinite;
}

@media (max-width: 42em) {
  .header {
    padding: 1em;
    flex-direction: column;
    justify-content: space-around;
    height: 30em;
    box-sizing: border-box;
  }
}

.header__logo {
  height: 15em;
}

@media (max-width: 42em) {
  .header__logo {
    width: 100%;
    height: auto;
    max-height: 18em;
  }
}

.header__text {
  height: 8em;
}

@media (min-width: 42em) {
  .header__text {
    position: relative;
    top: 1em;
  }
}

@media (max-width: 42em) {
  .header__text {
    width: 100%;
    height: auto;
  }
}

.gist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
}

@media (max-width: 42em) {
  .gist {
    padding: 1.5em 0;
  }
}

.gist__text {
  font-size: 2em;
  color: #333;
  max-width: 30em;
  text-align: center;
  padding: 0 1em;
}

@media (max-width: 42em) {
  .gist__text {
    font-size: 1.5em;
    line-height: 1.75;
  }
}

.gist__social {
  margin-top: 1em;
  font-size: 2em;
  width: 4.5em;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 42em) {
  .gist__social {
    font-size: 3.5em;
  }
}

.gist__social a {
  text-decoration: none;
}

.gist__text b {
  color: black;
}

.gist__social .fa-facebook {
  color: #3b5998;
}

.gist__social .fa-youtube {
  color: red;
}

.gist__social .fa-envelope {
  color: #333;
}

.bands {
  background-color: #333;
  padding-bottom: 3em;
}

.bands h2 {
  color: #fafafa;
  font-size: 1.5em;
  font-weight: normal;
  width: 100%;
  text-align: center;
  padding: 1em 0;
}

.bands__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bands__list a {
  width: 20em;
  height: 10em;
  padding: 2em;
}

.bands__list img {
  width: 100%;
  height: 100%;
}

.bands__list img:hover {
  transform: rotate(5deg);
}

.form {
  display: flex;
  justify-content: center;
  padding: 3em 0;
}

.form form {
  width: 40em;
}

.form__title_row {
  display: flex;
  justify-content: center;
}

.form input:not([type="submit"]) {
  border: 3px solid #666;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  font-size: 1em;
  box-sizing: border-box;
  padding: 0.5em 0.2;
}

.form input:focus:not([type="submit"]) {
  border-color: black;
  background-color: #efefef;
  outline: none;
}

.form label {
  display: block;
  color: #333;
}

.form input[type="submit"] {
  color: #922f2f;
  background-color: #111111;
  font-size: 1.25em;
  padding: 0.75em 2em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  box-shadow: 5px 5px 5px #ccc;
  -webkit-appearance: none;
}

.form h2 {
  color: #922f2f;
  background-color: #111111;
  font-size: 1.25em;
  display: inline-block;
  padding: 0.1em 0.25em;
  margin: 2em 0 1em 0;
  box-shadow: 5px 5px 5px #ccc;
}

@media (max-width: 42em) {
  .form h2 {
    padding: 0.25em 0.5em;
    margin: 2em 0.5em 1em;
  }
}

.form input:hover[type="submit"] {
  color: red;
}
.form__row {
  display: flex;
}

@media (max-width: 42em) {
  .form__row {
    flex-direction: column;
  }
}

.form__field {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

.footer {
  margin: 5em 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 42em) {
  .footer {
    flex-direction: column;
    height: 4em;
    justify-content: space-between;
  }
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer .fa-facebook:hover {
  color: #3b5998;
}

.footer .fa-youtube:hover {
  color: red;
}

.footer .fa-envelope:hover {
  color: black;
}

.footer > div {
  padding: 0 0.5em;
}

.footer__social {
  width: 4em;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
}

@media (min-width: 42em) {
  .footer__social {
    border-left: 1px solid #999;
    font-size: 1.25em;
    width: 4em;
  }
}
