@import "./style/header.scss";
@import "./style/gist.scss";
@import "./style/bands.scss";
@import "./style/form.scss";
@import "./style/footer.scss";

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
